/* regole lg */

#lezioni,#steps {
  margin-top: 25px;
  text-align: center;
}

#lezioni h1,#steps h1 {
margin-bottom: 40px;
}
#why{
  text-align: center;
}

#steps,#why{
  padding-top:25px;
}
#lezioni img {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#why .container [class*="col-"]
  {margin-top: 20px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

h3{
  padding: 20px 0;
}

hr{
  margin-top:20px;
}
.container [class*="col-"]
  {padding:0 20px;
}

/* md */

@media screen and (max-width:991px)
{
  .container [class*="col-"]
    {padding:0px 30px;
  }
}

/* xs */

@media screen and (max-width:767px)
{
  img {
  height: 100px;}

  #lezioni h1,#steps h1 {
  margin-bottom: 5px;
  }
  .container [class*="col-"]
    {padding:10px 10px;
  }
}
